<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Calculating Data with SQL

## 1.0 Connecting to our Database

In [2]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

## 1.1 Importing Data from CSV files

Datasets used in this notebook:


1.   **Population by Urban Centres, 2009**

> This dataset shows the total population of urban centres in different Kenyan counties. ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/1E-Ew-uGxWqO3HJLS0bX7DUAe-c93sdCO/view?usp=sharing))

2.   **Population by Age, Sex and Educational Attainment in 2000 - 2009** 

> The dataset is from IIASA-VID Dataset (W Lutz, A Goujon, S K.C., W Sanderson. 2007. Reconstruction of population by age, sex and level of educational attainment of 120 countries for 1970-2000. Vienna Yearbook of Population Research, vol. 2007, pp 193-235). ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/1Kx70v8SqGRJWkDccNkn31JJ5Jnq1OKM3/view?usp=sharing))

3. **2014 - 2015 Government Projects Summary Sorted by Funding Source**

> Based on 2014 - 2015 Estimated Finance allocations for Kenyan Government Projects. ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/10Dh9psiaAUo_HyyN6WZK6re0bI4_joUG/view?usp=sharing))

In [3]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [4]:
# Loading our table from the respective CSV files 
with open('urban_centres_dataset.csv','r') as f:
    Urban_Centres = pd.read_csv(f, index_col=0, encoding='utf-8')
# saving the urban center CSV file into a database
%sql DROP TABLE if EXISTS Urban_Centres;
%sql PERSIST Urban_Centres;

# Displaying the first  5 entries 
%sql SELECT * FROM Urban_Centres LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Ahero', 54194, 8362, 45832, 92, '(-0.156472052, 34.922629149999999)', 0),
 ('Archers Post', 6123, 2683, 3440, 106, '(0.64069109999999996, 37.6491483)', 1),
 ('Awendo', 108742, 17909, 90833, 94, '(-0.89444667099999997, 34.536880379999999)', 2),
 ('Baragoi', 7926, 4628, 3298, 91, '(1.786392475, 36.79148971)', 3),
 ('Bissil', 5345, 5345, 0, 87, '(-2.0938024999999998, 36.773857700000001)', 4)]

In [5]:
# Let's load our households dataset below
with open('households_dataset.csv','r') as f:
    Households = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Save the houshold dataset into a database
%sql DROP TABLE if EXISTS Households;
%sql PERSIST Households;

# Display the first 5 entries from the database
%sql SELECT * FROM Households LIMIT 60;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Mombasa', 'Female', '16.8%', '36.8%', '39.5%', '6.8%', 59858, '(-4.018795613, 39.653975520000003)', 0),
 ('Kwale', 'Female', '10.9%', '25.4%', '46.5%', '17.1%', 40265, '(-4.1398571640000004, 39.15036963)', 1),
 ('Kilifi', 'Female', '12.5%', '26.6%', '46.2%', '14.7%', 64963, '(-3.1731002359999998, 39.683055940000003)', 2),
 ('Tana Rriver', 'Female', '16.9%', '25.6%', '43.3%', '14.2%', 14447, '(-1.557428783, 39.412916930000002)', 3),
 ('Lamu', 'Female', '9.5%', '22.6%', '48.7%', '19.2%', 5515, '(-2.0391399720000001, 40.767880740000003)', 4),
 ('Taita Taveta', 'Female', '7.3%', '19.4%', '49.1%', '24.1%', 23915, '(-3.4337677430000002, 38.417085350000001)', 5),
 ('Marsabit', 'Female', '14.9%', '22.6%', '40.7%', '21.7%', 21594, '(2.9818558570000002, 37.570225430000001)', 6),
 ('Nairobi', 'Female', '17.8%', '39%', '38.3%', '4.8%', 233009, '(-1.2926489320000001, 36.864854780000002)', 7),
 ('Nyandarua', 'Female', '6.8%', '21.1%', '47.9%', '24.2%', 49694, '(-0.32014949999999998, 36.480091790000003)', 8),
 ('Nyeri', 'Female', '0.8%', '14.6%', '49.1%', '35.5%', 71938, '(-0.34295653199999998, 36.953878789999997)', 9),
 ('Kirinyaga', 'Female', '6.6%', '20.8%', '43.4%', '29.1%', 46190, '(-0.522402857, 37.318654029999998)', 10),
 ("Murang'a", 'Female', '5.9%', '18.8%', '43.6%', '31.7%', 95232, '(-0.80897564700000002, 37.03181197)', 11),
 ('Kiambu', 'Female', '9.8%', '26.3%', '42.9%', '21%', 132230, '(-1.0689645299999999, 36.821352779999998)', 12),
 ('Isiolo', 'Female', '16.6%', '26%', '41.8%', '15.6%', 12070, '(1.011526022, 38.539068929999999)', 13),
 ('Meru', 'Female', '9.1%', '23.4%', '44.1%', '23.4%', 91807, '(0.14893278900000001, 37.748684419999996)', 14),
 ('Tharaka', 'Female', '7.7%', '22.4%', '44.6%', '25.4%', 28325, '(-0.19534945200000001, 37.932166090000003)', 15),
 ('Embu', 'Female', '7.4%', '21.1%', '45.9%', '25.6%', 43021, '(-0.60206859300000004, 37.625252140000001)', 16),
 ('Kitui', 'Female', '9%', '24.6%', '46.4%', '19.9%', 92758, '(-1.4867170190000001, 38.405995099999998)', 17),
 ('Machakos', 'Female', '8.3%', '24.2%', '46.3%', '21.1%', 96858, '(-1.2728947989999999, 37.41023963)', 18),
 ('Makueni', 'Female', '7.7%', '23.1%', '47.9%', '21.4%', 77106, '(-2.150161105, 37.783676219999997)', 19),
 ('Garissa', 'Female', '10.8%', '26.3%', '47.6%', '15.3%', 25015, '(-0.48705736100000002, 40.182868569999997)', 20),
 ('Wajir', 'Female', '7.8%', '23.9%', '51.1%', '17.2%', 16859, '(1.8078659530000001, 40.035683050000003)', 21),
 ('Mandera', 'Female', '6%', '24.9%', '57%', '12.1%', 23428, '(3.4378074010000002, 40.735090630000002)', 22),
 ('Narok', 'Male', '10.6%', '34.9%', '44.2%', '10.2%', 111229, '(-1.254599408, 35.57472679)', 23),
 ('Siaya', 'Female', '7.7%', '17.6%', '43%', '31.7%', 90120, '(-0.059702986999999999, 34.246468110000002)', 24),
 ('Kisumu', 'Female', '10.1%', '23.2%', '43.8%', '22.9%', 82503, '(-0.16775005200000001, 34.834951770000004)', 25),
 ('Homa Bay', 'Female', '10.6%', '23.3%', '42.4%', '23.7%', 90126, '(-0.54096459799999996, 34.357439360000001)', 26),
 ('Migori', 'Female', '11%', '24.4%', '44.6%', '20%', 68964, '(-0.987697987, 34.368357680000003)', 27),
 ('Kisii', 'Female', '11%', '23.6%', '44.1%', '21.4%', 84024, '(-0.77064898299999995, 34.775954489999997)', 28),
 ('Nyamira', 'Female', '9.7%', '23.8%', '43.8%', '22.7%', 43093, '(-0.64099632399999995, 34.965002290000001)', 29),
 ('Turkana', 'Female', '7.5%', '22.7%', '52.1%', '17.7%', 45571, '(3.430630909, 35.426022940000003)', 30),
 ('West Pokot', 'Female', '13.5%', '27.4%', '42.6%', '16.6%', 32411, '(1.7226525589999999, 35.245003330000003)', 31),
 ('Samburu', 'Female', '20.5%', '25.6%', '38.7%', '15.2%', 22492, '(1.3198759849999999, 37.116767690000003)', 32),
 ('Trans Nzoia', 'Female', '9.6%', '24.2%', '48.8%', '17.4%', 50069, '(1.051858832, 34.957441060000001)', 33),
 ('Baringo', 'Female', '12%', '26.2%', '42.8%', '18.9%', 38778, '(0.67326285699999999, 35.943438069999999)', 34),
 ('Uasin Gishu', 'Female', '13.2%', '28.7%', '43.9%', '14.3%', 58083, '(0.53381106099999998, 35.319233859999997)', 35),
 ('Elgeyo-Marakwet', 'Female', '8.6%', '22.7%', '44.8%', '23.9%', 23967, '(0.80064760099999999, 35.536420939999999)', 36),
 ('Nandi', 'Female', '7.3%', '23.1%', '47.9%', '21.6%', 43158, '(0.18557890399999999, 35.113956139999999)', 37),
 ('Laikipia', 'Female', '11.6%', '24.4%', '45.1%', '18.9%', 37050, '(0.32376154499999998, 36.768709860000001)', 38),
 ('Nakuru', 'Female', '12%', '28.4%', '44.1%', '15.5%', 128641, '(-0.46427603699999997, 36.077737190000001)', 39),
 ('Narok', 'Female', '16.4%', '28.5%', '43%', '12%', 57991, '(-1.254599408, 35.57472679)', 40),
 ('Kajiado', 'Female', '17.2%', '31.1%', '40.7%', '11%', 54399, '(-2.1218753260000001, 36.908413529999997)', 41),
 ('Kericho', 'Female', '10.9%', '24.5%', '45.7%', '18.8%', 34464, '(-0.24299188099999999, 35.336599509999999)', 42),
 ('Bomet', 'Female', '11.9%', '24.1%', '42.7%', '21.3%', 52580, '(-0.69127657600000003, 35.28292999)', 43),
 ('Kakamega', 'Female', '9%', '21.1%', '46%', '24%', 122818, '(0.40615735600000002, 34.745339440000002)', 44),
 ('Vihiga', 'Female', '6%', '17.5%', '45.7%', '30.7%', 49777, '(0.078465934000000001, 34.722131930000003)', 45),
 ('Bungoma', 'Female', '8.4%', '21.5%', '47%', '23.2%', 83260, '(0.75075376699999996, 34.639862209999997)', 46),
 ('Busia', 'Female', '9.7%', '21.2%', '44.7%', '24.4%', 58364, '(0.385079797, 34.191127909999999)', 47),
 ('Nairobi', 'Male', '12.5%', '42.6%', '41.5%', '3.5%', 752007, '(-1.2926489320000001, 36.864854780000002)', 48),
 ('Nyandarua', 'Male', '6.4%', '27.1%', '50.1%', '16.4%', 94185, '(-0.32014949999999998, 36.480091790000003)', 49),
 ('Nyeri', 'Male', '0.9%', '16.2%', '56.5%', '26.4%', 129765, '(-0.34295653199999998, 36.953878789999997)', 50),
 ('Kirinyaga', 'Male', '6.1%', '29.2%', '50.3%', '14.4%', 108030, '(-0.522402857, 37.318654029999998)', 51),
 ("Murang'a", 'Male', '4.7%', '21.8%', '50.1%', '23.4%', 160464, '(-0.80897564700000002, 37.03181197)', 52),
 ('Kiambu', 'Male', '9%', '34%', '46.6%', '10.4%', 337014, '(-1.0689645299999999, 36.821352779999998)', 53),
 ('Mombasa', 'Male', '11.2%', '40.5%', '43.6%', '4.7%', 208842, '(-4.018795613, 39.653975520000003)', 54),
 ('Kwale', 'Male', '6.8%', '26.4%', '50.9%', '15.9%', 81782, '(-4.1398571640000004, 39.15036963)', 55),
 ('Kilifi', 'Male', '8.2%', '27.8%', '49%', '15.1%', 134801, '(-3.1731002359999998, 39.683055940000003)', 56),
 ('Tana Rriver', 'Male', '10.3%', '29.2%', '47.4%', '13.1%', 32967, '(-1.557428783, 39.412916930000002)', 57),
 ('Lamu', 'Male', '9.6%', '28.7%', '47.8%', '13.9%', 16669, '(-2.0391399720000001, 40.767880740000003)', 58),
 ('Taita Taveta', 'Male', '7.8%', '25.6%', '49.5%', '17.1%', 47175, '(-3.4337677430000002, 38.417085350000001)', 59)]

In [6]:
# Let's load our government project dataset below
with open('government_project_summary.csv','r') as f:
    Government_Budget = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Save the governmwnt budget dataset into a database
%sql DROP TABLE if EXISTS Government_Budget;
%sql PERSIST Government_Budget;

# Display the first 5 entries from the database
%sql SELECT * FROM Government_Budget LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(111285239, 609690025.0, 2100000000, 2709690025.0, 25162065397.0, ' Government of Sweden', 0),
 (2009277440, 7443790000.0, 1436627037, 8880417037.0, 12567296534.0, ' United Nations Development Programme (UNDP)', 1),
 (50034000, 0.0, 1705540000, 1705540000.0, 4015101726.0, ' World Food Programme', 2),
 (24267555932, 144199000000.0, 1700000000, 145899000000.0, 445033000000.0, ' African Development Bank/ Fund', 3),
 (1160000000, 2085000000.0, 600000000, 2685000000.0, 174293000000.0, ' European Investment Bank', 4)]

## 1.2 Using the AVG() aggregate function

In [7]:
# Example 1 
# We can find the average Total_population for urban centres in Kenya 
# by using the AVG() function as shown;
#
%%sql
SELECT AVG(Total_population) FROM Urban_Centres;

 * sqlite://
Done.

[(66232.38202247191,)]

In [8]:
# Example 2
# What was the average funding provided by donors? 
# 
%%sql
SELECT AVG(Total_Budget_Supported__by_Donors_KES) FROM Government_Budget;

 * sqlite://
Done.

[(12154422103.65,)]

In [9]:
# Example 3
# What is the average no. of female households?
#
%%sql
SELECT AVG(Number_of_households) FROM Households WHERE gender="Female";

 * sqlite://
Done.

[(59974.46808510638,)]

### <font color="green">1.2 Challenges</font>

In [10]:
# Challenge 1
# Calculate the average core urban population?
#
%%sql
SELECT AVG(Core_urban_population	) FROM Urban_Centres

 * sqlite://
Done.

[(49875.38764044944,)]

In [11]:
# Challenge 2
# Calculate the average grant for project allocations to the Kenyan government?
# 
%%sql
Select AVG (Total_Grant_Budget_Est_KES) from Government_Budget;

 * sqlite://
Done.

[(2783716826.775,)]

In [12]:
# Challenge 3
# Calculate the average number of male households in Kenya
# with an age group of atleast 30% household age group of 25 - 34yrs?
# 
%%sql
Select AVG (Number_of_households) from Households where Gender = 'Male';

 * sqlite://
Done.

[(126577.74468085106,)]

## 1.3 Performing Arithmetic Operations

In [13]:
# Example 1
# Let's do some data cleaning procedures by trying to find out the number 
# of records whose addition of core urban population 
# and peri urban population does not add up to the total urban population.
#
%%sql
SELECT * FROM Urban_Centres WHERE (Core_urban_population + Peri_urban_population) != Total_population;

 * sqlite://
Done.

[]

In [14]:
# Example 2 
# Which urban centers' difference between the core urban population 
# and the peri urban population was less than 1000?
#
%%sql 
SELECT * FROM Urban_Centres WHERE (Core_urban_population - Peri_urban_population) < 1000

 * sqlite://
Done.

[('Ahero', 54194, 8362, 45832, 92, '(-0.156472052, 34.922629149999999)', 0),
 ('Archers Post', 6123, 2683, 3440, 106, '(0.64069109999999996, 37.6491483)', 1),
 ('Awendo', 108742, 17909, 90833, 94, '(-0.89444667099999997, 34.536880379999999)', 2),
 ('Bomet', 83440, 6742, 76698, 98, '(-0.76932068200000003, 35.350992400000003)', 5),
 ('Bondo', 33197, 14478, 18719, 91, '(-0.085401447000000005, 34.274145799999999)', 6),
 ('Butere', 12503, 4448, 8055, 88, '(0.21676480000000001, 34.475354799999998)', 9),
 ('Chogoria', 28530, 6434, 22096, 100, '(-0.22342748200000001, 37.616568299999997)', 11),
 ('Chuka', 43064, 7614, 35450, 96, '(-0.32020847200000002, 37.63234044)', 12),
 ('Homa Bay', 59165, 28593, 30572, 91, '(-0.51342902499999998, 34.46228764)', 29),
 ('Iten/Tambach', 44513, 9012, 35501, 95, '(0.68984582100000003, 35.512455490000001)', 32),
 ('Kandara', 12889, 0, 12889, 93, '(-0.87894349299999996, 36.984498909999999)', 39),
 ('Kangundo-Tala', 218722, 13119, 205603, 98, '(-1.2877069160000001, 37.330792109999997)', 40),
 ('Kapsabet', 87850, 23303, 64547, 98, '(0.22172877399999999, 35.110666889999997)', 42),
 ('Katito', 7840, 3067, 4773, 89, '(-0.26996690000000001, 34.969609400000003)', 47),
 ('Kendu Bay', 16030, 5213, 10817, 92, '(-0.34699610800000003, 34.649178089999999)', 49),
 ('Kericho', 127042, 40813, 86229, 102, '(-0.353571784, 35.28978755)', 50),
 ('Keroka', 49853, 6949, 42904, 90, '(-0.759323847, 34.95244804)', 51),
 ('Kimilili', 94719, 40928, 53791, 94, '(0.79948592500000004, 34.711513910000001)', 58),
 ('Kiminini', 11642, 5523, 6119, 85, '(0.90853975600000003, 34.92532886)', 59),
 ('Kinango', 7682, 4317, 3365, 93, '(-4.1045338190000002, 39.313578219999997)', 60),
 ('Kipkelion', 47902, 3582, 44320, 98, '(-0.17626963900000001, 35.466227510000003)', 61),
 ('Kitui', 115183, 19067, 96116, 94, '(-1.3667407, 38.009941499999996)', 67),
 ('Kwale', 21378, 6037, 15341, 91, '(-4.1487008769999996, 39.455571740000003)', 69),
 ('Londiani', 44843, 5405, 39438, 99, '(-0.14696747299999999, 35.6003002)', 76),
 ('Luanda', 49156, 7149, 42007, 92, '(0.045638918000000001, 34.583453140000003)', 77),
 ('Lumakanda', 10548, 2478, 8070, 99, '(0.63659500000000002, 35.0108751)', 78),
 ('Machakos', 150467, 40819, 109648, 97, '(-1.506809311, 37.258834540000002)', 79),
 ('Makuyu', 47452, 6955, 40497, 99, '(-0.88942170300000001, 37.186287710000002)', 86),
 ('Maragwa', 25081, 4263, 20818, 95, '(-0.790646933, 37.129400400000002)', 90),
 ('Marimanti', 8535, 1638, 6897, 97, '(-0.1558254, 37.957881399999998)', 95),
 ('Masimba', 34973, 1146, 33827, 90, '(-0.86112840000000002, 34.930944199999999)', 99),
 ('Matuu', 51025, 10569, 40456, 96, '(-1.1431591999999999, 37.530126899999999)', 101),
 ('Muhoroni', 34379, 14756, 19623, 108, '(-0.12975930099999999, 35.189717829999999)', 116),
 ('Mukurwe-Ini', 5402, 2168, 3234, 95, '(-0.55321465400000003, 37.041835319999997)', 118),
 ('Mumias', 102208, 38623, 63585, 95, '(0.33317140000000001, 34.477972800000003)', 119),
 ('Nyamira', 56857, 12657, 44200, 92, '(-0.56332979999999999, 34.893209900000002)', 137),
 ('Ol Kalou', 67186, 7010, 60176, 96, '(-0.26985817099999998, 36.370259300000001)', 140),
 ('Oyugis', 36528, 8917, 27611, 89, '(-0.49686285099999999, 34.730712910000001)', 143),
 ('Rongo', 81968, 12282, 69686, 92, '(-0.74350079099999999, 34.604594759999998)', 146),
 ('Runyenjes', 19434, 1956, 17478, 95, '(-0.40199000499999998, 37.558866020000004)', 148),
 ('Shamata', 9221, 2921, 6300, 96, '(-0.1164949, 36.479957200000001)', 150),
 ('Suneka', 50961, 5688, 45273, 92, '(-0.67782799999999999, 34.700317200000001)', 158),
 ('Uriri', 6202, 0, 6202, 90, '(0.031698400000000002, 34.451698)', 167),
 ('Vihiga', 124391, 36380, 88011, 92, '(0.30366979, 34.94499751)', 169),
 ('Wajir', 82106, 16188, 65918, 111, '(1.7462282250000001, 40.057254749999998)', 171),
 ('Wamba', 6059, 2579, 3480, 99, '(0.98577954499999998, 37.32137101)', 172),
 ('Webuye', 49767, 23364, 26403, 97, '(0.61901399499999998, 34.765001550000001)', 175),
 ('Wote', 67542, 9433, 58109, 99, '(-1.7848607000000001, 37.612123099999998)', 176)]

In [15]:
# Example 3
# Which donors funded projects amounting to more than 50& of the project cost?
# 
%%sql
SELECT Funding_Source  FROM Government_Budget 
WHERE (Total_Project_Cost_KES / Total_Budget_Supported__by_Donors_KES) > 0.5;

 * sqlite://
Done.

[(' Government of Sweden',),
 (' United Nations Development Programme (UNDP)',),
 (' World Food Programme',),
 (' African Development Bank/ Fund',),
 (' European Investment Bank',),
 (' Government of India',),
 (' Government of Italy',),
 ('Government of Kenya',),
 (' Government of United States of America (USAID)',),
 (' KBC Bank ',),
 (' United Nations International Children Education Fund (UNICEF)',),
 (' Government of Spain',),
 (' Kuwait Fund for Arab Development',),
 (' Arab Bank for Economic Development in Africa (BADEA)',),
 (' Government of South Korea',),
 (' Government of Denmark',),
 (' Abhu Dhabi Fund',),
 (' Government of Belgium',),
 (' Government of China',),
 (' Investment Climate Facility (ICF)',),
 (' Government of Finland',),
 (' International Development Association (IDA)',),
 (' Saudi Fund for Development',),
 (' European Development Fund',),
 (' Global Fund',),
 (' Government of Germany (GIZ GERMANY)',),
 (' United Kingdom DFID (UK)',),
 (' Government of Germany (KFW GERMANY)',),
 (' Government of France',),
 (' Government of Japan',),
 (' United Nations Environmental Programme (UNEP)',),
 (' International Fund for Agricultural Development (IFAD)',),
 (' Organization of Petroleum Exporting Countries (OPEC)',),
 (' Food and Agricultural Organization',),
 (' FORD Foundation',)]

### <font color="green">1.3 Challenges</font>

In [30]:
# Challenge 1
# What was the total grants offered by the 'African Development Bank/ Fund' 
# and the 'United Nations Development Programme (UNDP)'
# contribute towards projects underken by the Kenyan government?
# Funding_Source**
%%sql
Select SUM(Total_Grant_Budget_Est_KES) from Government_Budget
WHERE OBJECTID = 1 or 3 ;

 * sqlite://
Done.

[(111348673071,)]

In [17]:
# Challenge 2
# Data Cleaning
# Find the records whose difference of Total urban population 
# and peri urban population does not result to the core urban population.
#
%%sql
Select * from Urban_Centres
Where (Total_population - Peri_urban_population) != Core_urban_population;

 * sqlite://
Done.

[]

In [18]:
# Challenge 3 
# Which donors funded projects amounting to less than than 10% of the project cost?
#
%%sql
Select Funding_Source from Government_Budget
Where (Total_Budget_Supported__by_Donors_KES/ Total_Project_Cost_KES) < 0.1;

 * sqlite://
Done.

[(' European Investment Bank',),
 ('Government of Kenya',),
 (' Government of Spain',),
 (' Government of South Korea',),
 (' Investment Climate Facility (ICF)',),
 (' International Development Association (IDA)',),
 (' Government of Germany (GIZ GERMANY)',),
 (' Government of Germany (KFW GERMANY)',),
 (' Government of France',)]

## 1.4 Minimum and Maximum

In [19]:
# Example 1
# Which urban centres had the most core urban population?
#
%%sql 
SELECT Urban_Centre, MAX(Core_urban_population) FROM Urban_Centres;

 * sqlite://
Done.

[('Nairobi', 3109861)]

In [20]:
# Example 2
# Maximum Example
# Which urban centre had the least total urban population?
# 
%%sql 
SELECT Urban_Centre, MIN(Total_population) FROM Urban_Centres;

 * sqlite://
Done.

[('Sololo', 5035)]

In [21]:
# Example 3
# Which urban centre with a sex ratio > 90 had the least total urban population?
# 
%%sql 
SELECT Urban_Centre, MIN(Total_population) FROM Urban_Centres WHERE Sex_ratio > 90;

 * sqlite://
Done.

[('Sololo', 5035)]

### <font color="green">1.4 Challenges</font>

In [22]:
# Challenge 1 
# Which government projects had the most grant funding?
# Hint: "Total_-_Grant_Budget_Est_KES" encolse column with double quotes
#
%%sql
Select Funding_Source, Max (Total_Grant_Budget_Est_KES) from Government_Budget;

 * sqlite://
Done.

[(' Global Fund', 33054201792)]

In [26]:
# Challenge 2
# Which government projects had the least loan funding?
# 
%%sql
Select Funding_Source, Total_Loan_Budget_Est_KES from Government_Budget
Where Total_Loan_Budget_Est_KES = (Select min(Total_Loan_Budget_Est_KES) from Government_Budget);

 * sqlite://
Done.

[(' World Food Programme', 0.0),
 (' Government of United States of America (USAID)', 0.0),
 (' Government of Denmark', 0.0),
 (' Investment Climate Facility (ICF)', 0.0),
 (' Global Alliance Vaccine Initiative', 0.0),
 (' United Nations Environmental Programme (UNEP)', 0.0),
 (' United Nations Industrial Development Organization (UNIDO)', 0.0),
 (' FORD Foundation', 0.0)]

In [126]:
# Challenge 3
# Which governments projects had the least loan funding and had 
# grant funding greater than donor funding?
#
%%sql
Select Funding_Source, Total_Loan_Budget_Est_KES from Government_Budget
Where Total_Loan_Budget_Est_KES = (Select min(Total_Loan_Budget_Est_KES) from Government_Budget where (Total_Grant_Budget_Est_KES > Total_Budget_Supported__by_Donors_KES));

 * sqlite://
Done.

[]

## 1.5 The Aggregate SUM() function

In [133]:
# Example 1
# What was the total loan Budget of all government projects?
#
%%sql 
SELECT SUM("Total_Loan_Budget_Est_KES") FROM Government_Budget;

 * sqlite://
Done.

[(374828211075.0,)]

In [134]:
# Example 2
# What was the total project cost for all government projects where the total 
# loan budget is greater than the total grant budget?
#
%%sql 
SELECT SUM(Total_Project_Cost_KES) FROM Government_Budget 
WHERE "Total_Loan_Budget_Est_KES" < "Total_Grant_Budget_Est_KES	" ;

 * sqlite://
Done.

[(228201585899569.0,)]

In [135]:
# Example 3
# What was the total Core urban population in Kenya?
#
%%sql 
SELECT SUM(Core_urban_population) FROM Urban_Centres;

 * sqlite://
Done.

[(8877819,)]

### <font color="green">1.5 Challenges</font>

In [136]:
# Challenge 1
# What was the total urban centre population?
# 
%%sql
Select SUM (Total_population) from Urban_Centres;

 * sqlite://
Done.

[(11789364,)]

In [137]:
# Challenge 2
# What was the sum of the urban centre populations with
# core urban population less than peri urban population?
# 
%%sql
Select sum(Total_population) from Urban_Centres
Where (Core_urban_population < Peri_urban_population);

 * sqlite://
Done.

[(2506812,)]

In [ ]:

%%sql 
SELECT *
FROM Households
WHERE county IS NULL;

 * sqlite://
Done.

[]

In [139]:
# Challenge 3
# What was the sum of male and female households in Mombasa and Nairobi?
# 
%%sql 
SELECT SUM(Number_of_households) FROM Households 
WHERE County ="Nairobi" or "Mombasa";

 * sqlite://
Done.

[(985016,)]